# Compiled output
Frontend/dist
Frontend/tmp
Frontend/out-tsc
Frontend/bazel-out

# Node
Frontend/node_modules
Frontend/npm-debug.log
Frontend/yarn-error.log

# IDEs and editors
Frontend/.idea/
Frontend/.project
Frontend/.classpath
Frontend/.c9/
Frontend/*.launch
Frontend/.settings/
Frontend/*.sublime-workspace

# Visual Studio Code
Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json
Frontend/.history/*
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Miscellaneous
Frontend/.angular/cache
Frontend/.sass-cache/
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/testem.log
Frontend/typings

# System files
Frontend/.DS_Store
Frontend/Thumbs.db

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/

# Django #
Backend/*.log
Backend/*.pot
Backend/*.pyc
Backend/Backend/__pycache__
Backend/db.sqlite3
Backend/media 
__pycache__
*.pyc

